@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.table-transparent td, .table-transparent th {
    background-color: #0000;
}

.table-rounded td:last-child {
    border-radius: 0 50px 50px 0;
}